<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carry画像の一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web.css') }}">
</head>
<body>
    <header>
        <nav class="web-nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/add_list/">アップロード画像</a></li>
                <li><a href="/gray_list/">グレースケール画像</a></li>
                <li><a href="/face_list/">顔認証画像</a></li>
                <li><a href="/mozaiku_list/">モザイク画像</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container mt-5">
            <h1>carry画像</h1>
            <div>
                <!--pythonで取得したurlをfor文で回して表示-->
                {% for url in image_files %}
                <img src="{{url}}" alt="">
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>